---

---

<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>

  <h1> My Astro site</h1> 
  <h1>About me</h1>
  <h2>... and my new Astro site!</h2>

  <p>Im working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I build myself!</p>
  <p>This site will update as I complete more of the tutorial, so keep vhecking back and see how my journey is going!</p>
</body>
